.game-title {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(218, 33, 33);
    font-style: italic;
}

#game {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.cell {
    border: 1px solid rgb(31, 51, 183);
    width: 70px;
    height: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(82, 82, 82);
    font-size: 50px;
}

.disabled {
    cursor: default;
}

.winner {
    position: absolute;
    top: 61%;
    left: 50%;
    font-size: 30px;
    font-weight: bold;
    color: rgb(30, 169, 20);
    text-align: center;
    transform: translate(-50%, -50%);
}

button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    background-color: rgb(31, 51, 183);
    color: white;
    padding: 0.2em 0.4em;
    cursor: pointer;
  }
  

  

